.checked {
  color: orange;
}

#price-card-container {
  border-radius: 15px;
  max-width: 670px;
  background-color: white;
  box-shadow: grey 5px 5px 20px;
}

#layout-container {
  display: flex;
  align-items: flex-start;
  padding: 0 0 20px 0;
}

#layout-left {
  border-radius: 15px;
  box-shadow: 10px 10px 8px lightgrey;
  padding: 0 15px 0 0;
  margin: 0;
}

#name-price-container {
  padding: 10px;
  font-size: 20px;
}

#resort-img {
  width: 300px;
  max-height: 250px;
  word-wrap: unset;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 10px 10px 8px lightgrey;
}

#rating-container {
  width: 25%;
  /*border: 1px solid lightgrey;*/
  background-color: white;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 0 0 20px 0;
}

#layout-right {
  margin: 0 20px 0 10px;
}

#layout-left {
  margin: 0 20px 0 20px;
  background-color: lightgrey;
}

#description {
  list-style: none;
}




