<div class="get-started">
  <p class="intro-text">
    This app was written in Angular 17. The whole application is self-contained, requires no backend and is deployed on Firebase. <br>
    <a href="https://www.github.com/ZMathias/skibidi-ng">The source code for this application itself.</a><br>
    <a href="https://www.github.com/ZMathias/skidbscraper">The scrapy spider</a> written in Python that scrapes <a href="https://www.skiresort.info">skiresort.info</a> for the data that supplies this application.
  </p>
</div>
