div.get-started {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

p.intro-text {
  margin: 5vh;
}

div.get-started p.intro-text {
  display: block;
  font-size: 20px;
  max-width: 800px;
  margin: 2em auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
