<div id="planner-form">
  <div class="form-section">
    <label for="country-selector">Select a destination country (if desired):</label>
    <select id="country-selector" class="input-field country-field" #countrySelector>
      <option value="def">Destination</option>
      <option value="AT">Austria</option>
      <option value="BE">Belgium</option>
      <option value="BG">Bulgaria</option>
      <option value="HR">Croatia</option>
      <option value="CY">Cyprus</option>
      <option value="CZ">Czech Republic</option>
      <option value="DK">Denmark</option>
      <option value="EE">Estonia</option>
      <option value="FI">Finland</option>
      <option value="FR">France</option>
      <option value="DE">Germany</option>
      <option value="GR">Greece</option>
      <option value="HU">Hungary</option>
      <option value="IE">Ireland</option>
      <option value="IT">Italy</option>
      <option value="LV">Latvia</option>
      <option value="LT">Lithuania</option>
      <option value="LU">Luxembourg</option>
      <option value="MT">Malta</option>
      <option value="NL">Netherlands</option>
      <option value="PL">Poland</option>
      <option value="PT">Portugal</option>
      <option value="RO">Romania</option>
      <option value="SK">Slovakia</option>
      <option value="SI">Slovenia</option>
      <option value="ES">Spain</option>
      <option value="SE">Sweden</option>
    </select>
    <!--Number of people-->
    <input type="number" id="num-people" class="input-field" placeholder="Number of people" min="1" max="30" [ngClass]="numberOfPeopleValidityClass" (focusout)="checkNumberOfPeopleValidity(numberOfPeople)" #numberOfPeople>

    <div class="date-container">
      <div class="date-label-field-container"><!--Arrival date-->
        <label for="arrival-date" style="margin: 0 0 0 6px">Arrival date:</label>
        <input type="date" id="arrival-date" class="input-field date-field" [ngClass]="dateValidityClass" (focusout)="checkDateValidity(arrivalDate, departureDate)" (change)="checkDateValidity(arrivalDate, departureDate)" #arrivalDate>
      </div>

      <!--Departure date-->
      <div class="date-label-field-container">
        <label for="departure-date" style="margin: 0 0 0 6px">Departure date:</label>
        <input type="date" id="departure-date" class="input-field date-field" [ngClass]="dateValidityClass" (focusout)="checkDateValidity(arrivalDate, departureDate)" (change)="checkDateValidity(arrivalDate, departureDate)" #departureDate>
      </div>
    </div>

    <!--Rating target between 1.0 and 5.0-->
    <input type="number" id="rating-target" class="input-field" placeholder="Rating target (between 1.0 and 5.0)" min="1.0" max="5.0" step="0.1" #ratingTarget>

    <!--Budget target-->
    <input type="number" id="budget-target" class="input-field" placeholder="Budget target (in EUR)" min="0" max="10000" #budgetTarget>
  </div>

  <!--Piste preferences-->
  <div class="form-section piste-section">
    <span style="margin: 0 0 10px 0; width: 285px">All of the following are optional targets and are treated as total lengths:</span>
    <input type="number" class="input-field" id="blue-length-target" placeholder="Blue piste target length" min="0" max="126" #blueLengthTarget>
    <input type="number" class="input-field" id="red-length-target" placeholder="Red piste target length" min="0" max="220" #redLengthTarget>
    <input type="number" class="input-field" id="black-length-target" placeholder="Black piste target length" min="0" max="312" #blackLengthTarget>
  </div>

  <button id="planner-submit-button" class="button" [ngClass]="numberOfPeopleValidity && dateValidity ? '' : 'invalid-btn'" (click)="checkNumberOfPeopleValidity(numberOfPeople);checkDateValidity(arrivalDate, departureDate); numberOfPeopleValidity && dateValidity ? onSubmitForm(countrySelector, numberOfPeople, arrivalDate, departureDate, ratingTarget, budgetTarget, blackLengthTarget, redLengthTarget, blueLengthTarget) : null">Submit</button>
</div>
